<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container py-5">
    <div class="d-flex flex-column align-items-center gap-3">
        <a href="{{url_for('registraruser')}}" class="btn btn-primary">Registrar Usuário</a>
        <a href="{{url_for('registrarbook')}}" class="btn btn-secondary">Registrar Livro</a>
        <a href="{{url_for('listarusers')}}" class="btn btn-success">Listar Usuários</a>
        <a href="{{url_for('listarbooks')}}" class="btn btn-info">Listar Livros</a>
    </div>
</body>
</html>